<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}" />
  </head>
  <body>
    <div class="Wrapper">
      <div class="navBar">
        <button class="menu" id="menuButton"></button>

        <div class="userNav">
          <div class="userNavTxt">
            <div class="userName">{{ user_name }}</div>
            <div class="userEmail">{{ user_email }}</div>
          </div>
          <button class="logout"></button>
        </div>
        <div id="navBarMenuContainer">
          <a href="{% url 'users:main' %}">
            <div class="navBarMenu">
              <img src="{% static 'img/Heart.svg' %}" />
              <span class="menuText">메인</span>
            </div>
          </a>
          <a href="{% url 'users:shop' %}">
            <div class="navBarMenu">
              <img src="{% static 'img/Cart.svg' %}" />
              <span class="menuText">목표쇼핑</span>
            </div>
          </a>
          <a href="{% url 'community:community' %}">
            <div class="navBarMenu">
              <img src="{% static 'img/Group.svg' %}" />
              <span class="menuText">커뮤니티</span>
            </div>
          </a>
        </div>
      </div>
      <div>
        <img
          class="logoTop"
          alt="상단 로고"
          src="{% static 'img/LogoMain.png' %}"
        />
        <!-- 본문 내용 -->
        <div class="Wrapper">
          <!-- 목표 선정 -->
          <div class="goalChoice">
            <!-- 목표 선정 제목 -->
            <div class="Wrapper1">
              <div class="mainTxt">목표 선정</div>
              <!-- 드롭다운 -->

              <button class="goalAdd3">
                <a href="{% url 'goals:create_goal' %}">목표 만들기</a>
              </button>
              <!-- <div class="dropdown-content">
                  <div class="dropdownMain" id="createGoal">목표 만들기</div>
                  <div class="dropdownMain" id="goalCart">목표 장바구니</div>
                </div> -->

              <div class="detailTxt">
                목표를 만들거나 만들어진 목표들을 골라요!
              </div>
            </div>
            <!-- 목표 선정 박스 -->

            <!-- 목표장바구니 -->

            <div class="Wrapper2">
              <div class="goalTxt">목표 장바구니</div>
              <div class="line"></div>
              <div class="Wrapper10">
                <div class="Wrapper6">
                  <div class="goalWrapper">
                    <span class="marketName">말하는 감자</span>
                    <img
                      src="/static/img/X.svg"
                      alt="창 닫기"
                      class="marketX"
                    />
                  </div>
                  <div class="goalWrapper">
                    <div class="marketWrapper">
                      <img
                        src="/static/img/market.svg"
                        alt="장바구니 사진"
                        class="marketImg"
                      />
                      <div class="marketWrapper2">
                        <div class="marketWrapper3">
                          <span class="marketgoalTxt">주 3회 요가</span>
                          <span class="category_content">운동</span>
                        </div>
                        <div class="marketWrapper4">
                          <span class="countTxt_market">일주일에</span>
                          <span class="timeIng_market">3회</span>
                        </div>
                      </div>
                    </div>
                    <div class="marketChoicebtn">선택하기</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 이루고 있는 목표 -->
          <div class="Wrapper11">
            <!-- 이루고 있는 목표 제목 -->
            <div class="Wrapper1">
              <div class="mainTxt">이루고 있는 목표</div>
              <div class="detailTxt">목표를 얼마나 이루었는지 확인해요!</div>
            </div>
            <!-- 이루고 있는 목표 박스 -->
            <div class="goalingg">
              <div class="Wrapper3">
                {% for goal in goals %}
                <div class="goalWrapper">
                  <span>
                    <span class="goalTxt2">{{ goal.title }}</span>
                    {% comment %} <span class="categoryExp" id="goal-ing-end">종료하기</span> {% endcomment %}
                  </span>
                  <div>
                    {% comment %} <span class="categoryExp">카테고리</span>
                    <div class="dropdownCategory2">
                      {% for category in goal.gcategory.all %}
                      <div class="goalIng-category">{{ goal.category }}</div>
                      {% endfor %}
                    </div> {% endcomment %}
                  </div>
                </div>
                <div class="line2"></div>

                <div style="display: flex; flex-direction: column">
                  <div class="goalDetail2">
                    <div class="goalDetail1">
                      <img
                        src="{% static 'img/goalIng.png' %}"
                        alt="이루고 있는 목표 이미지"
                        class="imgIng"
                      />
                      <div class="countTxt">일주일에</div>
                      <div class="timeIng">{{ goal.frequency }}</div>
                    </div>

                    <div>
                      {% comment %} <div class="detailIcon">
                        <img
                          class="detailIconImg"
                          src="{% static 'img/Line_up.png' %}"
                          alt="성취율 아이콘"
                        />
                        <span class="detailTxt2">성취율</span>
                        <span class="percentage">65%</span>
                      </div>
                      <div class="detailIcon">
                        <img
                          class="detailIconImg"
                          src="{% static 'img/Chart.png' %}"
                          alt="참가자 아이콘"
                        />
                        <span class="detailTxt2">참가자</span>
                        <span class="participant">630명</span>
                      </div> {% endcomment %}
                    </div>
                  </div>
                  <div class="goalIngDetail">
                    {{ goal.content }}
                  </div>
                </div>
                {% endfor %}
              </div>
              
            </div>
          </div>
        </div>


        <!-- 과정 나누기 -->
        <div class="goalChice">
          <!-- 과정 나누기 제목 -->
          <div class="Wrapper7">
            <div class="mainTxt">과정 나누기</div>
            <button class="goalAdd2">
              <a href="{% url 'posts:create_post' %}">과정 나누기 등록</a>
            </button>
            <div class="detailTxt">
              다른 사람들과 목표를 이루는 과정을 나누고 인증해요!
            </div>
          </div>
          <!-- 목표 선정 박스 -->
          <div class="Wrapper12">
            <div class="Wrapper5">
              {% for post in posts %}
              <div class="goalWrapper">
                <div>
                  <span class="goalTxt">{{ post.title }}</span>
                  <span class="processT">{{ post.created_at }}</span>
                </div>
                {% comment %} <div>
                  <span class="categoryExp">카테고리</span>
                  <div class="dropdownCategory3">
                    <div class="goalIng-category">취미</div>
                  </div>
                </div> {% endcomment %}
              </div>
              <div class="line"></div>
              <div class="goalDetail">
                <div class="processContent">
                  <div class="goalTime2">
                    <span class="processTime">
                      {% comment %} <span id="processTime">{{ post }}</span>
                      <span>회차</span> {% endcomment %}
                    </span>
                    {% comment %} <div>
                      <span class="countTxt">일주일에 {{ post.frequency }}</span>
                    </div> {% endcomment %}
                  </div>
                  <!-- 설명 -->
                  <div class="processExplain">
                    <div>
                      {{ post.content }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
