<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 - 인증</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/loginstyles.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'img/logo_shadow.svg' %}" alt="GoalGrove 로고" class="logo">
            <p class="description">
                <span>GoalGrove</span>에서 목표를 세우고 공유하며<br>주체적 성장을 시작하세요.
            </p>
        </div>
        <div class="main-content">
            <div class="verification-container">
                <h2>비밀번호 재설정</h2>
                <form id="verificationForm" method="post" action="{% url 'users:pwverification' %}" novalidate>
                    {% csrf_token %}
                    <label for="username">아이디</label>
                    <input type="text" name="username" id="username" required>
                    <label for="email">이메일</label>
                    <input type="email" name="email" id="email" required>
                    <div id="verificationErrorMessage" class="error-message"></div>
                    <button type="submit">확인</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
