<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalGrove 회원가입</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">
    <link rel="stylesheet" href="{% static 'css/loginstyles.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'img/logo_shadow.svg' %}" alt="GoalGrove 로고" class="logo">
            <p class="description">
                <span>GoalGrove</span>에서 목표를 세우고 공유하며<br>주체적 성장을 시작하세요.
            </p>
        </div>
        <div class="main-content">
            <div class="signup-container">
                <h2>회원가입</h2>
                <form id="signupForm" method="post" novalidate>
                    {% csrf_token %}
                    <label for="id_username">아이디</label>
                    <input type="text" name="username" id="signupUsername" placeholder="영문 소문자, 숫자 포함 4~12자리" onblur="checkUsername()" required>
                    <div id="usernameCheckResult" class="check-result"></div>
                    <label for="id_password1">비밀번호</label>
                    <input type="password" name="password1" id="signupPassword" placeholder="영문 대/소문자, 숫자, 특수문자 포함 8~16자" required>
                    <label for="id_password2">비밀번호 재입력</label>
                    <input type="password" name="password2" id="signupConfirmPassword" required>
                    <label for="id_email">이메일</label>
                    <input type="email" name="email" id="signupEmail" placeholder="example@example.com" required>
                    <label for="id_nickname">닉네임</label>
                    <input type="text" name="nickname" id="signupName" onblur="checkNickname()" required>
                    <div id="nicknameCheckResult" class="check-result"></div>
                    <button type="submit">회원가입하기</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
