@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
  margin: 0;
  padding: 0;
  background-color: #f1f5ee;
  display: flex;
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 링크의 기본 색상 유지 */
}

.Wrapper {
  display: flex;
  flex-direction: row;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  background-color: #ffffff;
  display: flex;
  width: 96px;
  min-height: 100vh;
  padding-top: 20px;
  border-right: 1px solid #000000;
  font-family: Pretendard;
  transition: width 0.3s ease;
}

.navBarMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 30px;
}

.navBarMenu:hover {
  color: #548524;
  font-weight: bold;
}

.menuText {
  text-align: left;
  display: none;
  margin-left: 20px;
  flex-wrap: wrap;
}

.menu {
  background-size: cover;
  background-image: url("../img/Menu.png");
  background-position: center;
  width: 30px;
  height: 30px;
  border: none;
  margin: 30px;
  background-color: #ffffff;
}

.logout {
  background-image: url("../img/Logout.png");
  background-size: cover;
  background-position: center;
  width: 26px;
  height: 26px;
  border: none;
  background-color: #ffffff;
  margin-left: 33px;
  transition: margin 0.3s ease;
  margin-right: 0px;
}

.logoTop {
  width: 100px;
  margin-left: 50px;
  margin-top: 10px;
}

.userNav {
  background-color: #ffffff;
  height: 100px;
  display: flex;
  align-items: center;
}

.userNavTxt {
  display: none;
  margin-left: 30px;
}

.userName {
  font-weight: bold;
}

.userEmail {
  color: #757575;
  font-size: 15px;
  margin-top: 5px;
}

.content {
  margin-left: 80px; /* Ensure content is not hidden under the sidebar */
}

.title {
  font-size: medium;
  margin-top: 10%;
}

.category-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.category-buttons button + button {
  margin-left: 10px;
}

.category-buttons button:hover {
  background-color: black;
  color: #fff;
}

.category-buttons .forGrove-btn {
  color: white;
  background-color: #7db249; /* Green background for the forGrove button */
}

.category-buttons .forGrove-btn:hover {
  background-color: #7db249; /* Darker green on hover */
}

.category-buttons button:focus {
  background-color: black;
  color: #fff;
}

#goals-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 10px;
  transition: margin-left 0.3s;
}

.sidebar.active ~ #goals-container {
  margin-left: 200px;
}

.sidebar.active ~ #goals-container {
  margin-left: 200px;
}

.goal-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  width: 500px;
  height: 400px;
}

.goal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.goal-header .logo-background {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: #e0e0e0;
  border-radius: 50%;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}

.goal-header img {
  width: 60px;
  height: 60px;
}

.goal-title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 80px;
}

.goal-nickname {
  font-size: 11px;
  color: #888;
  position: absolute;
  left: 80px;
  top: 0;
}

.goal-type {
  background-color: #7db249;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: medium;
  margin-left: auto;
  margin-right: 10px;
  color: #ffffff;
}

.cart-icon {
  margin-left: 10px;
  cursor: pointer;
}

.goal-info {
  display: flex;
  margin-top: 20px;
}

.goal-info img {
  border-radius: 8px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
}

.goal-details {
  flex-grow: 1;
  margin-left: 30px;
}

.goal-details p {
  margin: 10px 0;
}

.goal-details .highlight {
  background-color: #f5f5f5;
  padding: 2px 8px;
  border-radius: 12px;
  font-weight: lighter;
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
}

.goal-actions {
  display: flex;
  justify-content: right;
  margin-top: -35px;
}

.goal-actions button {
  background-color: #d8cbb8;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

goal-actions button:hover,
.goal-actions button.active {
  background-color: #b8a98c;
}

.goal-card hr {
  border-top: 1px solid #e0e0e0;
  margin: 100px;
  margin-left: 0;
  position: absolute;
  width: 90%;
  top: 0;
}
