<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>리뷰 상세 정보</title>
</head>
<body>
    <h1>리뷰 상세 정보</h1>
    <p><strong>내용:</strong> {{ review.content }}</p>
    <p><strong>작성자:</strong> {{ review.user.username }}</p>
    <p><strong>작성일:</strong> {{ review.created_at }}</p>
    <p><strong>좋아요 수:</strong> {{ likes_count }}</p>
    <p><strong>싫어요 수:</strong> {{ dislikes_count }}</p>
    <a href="{% url 'reviews:delete_review' review.id %}">리뷰 삭제</a><br>
    <a href="{% url 'reviews:like_review' review.id %}">좋아요</a><br>
    <a href="{% url 'reviews:dislike_review' review.id %}">싫어요</a><br>
</body>
</html>